pkgbase = gamedacctl
	pkgdesc = Linux lighting control for the original SteelSeries GameDAC
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/AndreasDellrud/gamedacctl
	arch = x86_64
	license = MIT OR Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = gtk4>=1:4.22
	depends = libadwaita>=1:1.9
	depends = systemd-libs
	options = !debug
	source = gamedacctl-0.1.0.tar.gz::https://github.com/AndreasDellrud/gamedacctl/releases/download/v0.1.0/gamedacctl-0.1.0.tar.gz
	sha256sums = b2a911f3f6f36c399cbbe310b7373c7fd893e47f5a38fa60faf4e42c2eb5ee1e

pkgname = gamedacctl
